.banner {
    height: calc(1482/1920*100vw);
    background-position: center;
    &-item {
        position: absolute;
        width: 50%;
    }
    &-left {
        left: 0;
        top: 30rem;
    }
    &-right {
        right: 0;
        top: 30rem;
    }
}

.slider {
    overflow: hidden;
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-arrow {
        z-index: 999;
    }
    .slick-prev {
        left: 20px;
    }
    
    .slick-next {
        right: 20px;
    }
}

.slider{
    text-align: center;
    color:white;
    height: calc(852/1920*100vw);
    .slide {
        position: relative;
        padding:0;
        &-animate {
            position: relative;
            width: 0;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            overflow: hidden;
            transition: all 1s ease-in-out;
        }
        img{
            max-width: unset;
            width: calc(1536/1920*100vw);
            height: calc(453/1920*100vw);
            opacity: 0.5!important;
            transition: all .8s ease-in-out;
        }
        &.slick-center {
            img{
                opacity: 1!important;
                height: calc(852/1920*100vw);
            }
            
        }
        &-content {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            padding: 5rem 0 7rem;
            z-index: 99;
        }
        &-fade {
            
            opacity: 0;
            &.right {
                transform: translateX(-50%);
                transition: .5s ease-in-out 1s;
            }
            &.left {
                transform: translateX(50%);
                transition: .5s ease-in-out 1.5s;
            }
        }
        
    }
}

.fade-active {
    .slide-animate {
        width: 100%;
    }
    .slick-center {
        .slide-fade {
            opacity: 1;
            &.right {
                transform: translateX(0);
            }
            &.left {
                transform: translateX(0);
            }
        }
    }
}