/* text style */
/* ============================================ */
.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}


/* color */
/* ============================================ */
.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-third {
    color: var(--color-third);
}

.text-thirdhq {
    color: rgba($color: $color_third, $alpha: .75);
}

.text-fourth {
    color: var(--color-fourth);
}

.text-fourthh {
    color: rgba($color: $color_fourth, $alpha: .5);
}

.text-base {
    color: var(--color-base);
}

.text-baseh {
    color: rgba($color: $color_base, $alpha: .5);
}

.text-basehq {
    color: rgba($color: $color_base, $alpha: .75);
}

.text-link {
    color: var(--color-link);
}

.text-danger {
    color: var(--color-danger);
}

.text-light {
    color: var(--color-light);
}

.text-lighth {
    color: rgba($color: $color_light, $alpha: .4);
}

.text-lighthq {
    color: rgba($color: $color_light, $alpha: .75);
}

@include lg {
    .text-lg-primary {
        color: var(--color-primary);
    }
    .text-lg-secondary {
        color: var(--color-secondary);
    }
    .text-lg-third {
        color: var(--color-third);
    }
    .text-lg-thirdhq {
        color: rgba($color: $color_third, $alpha: .75);
    }
    .text-lg-fourth {
        color: var(--color-fourth);
    }
    .text-lg-fourthh {
        color: rgba($color: $color_fourth, $alpha: .5);
    }
    .text-lg-base {
        color: var(--color-base);
    }
    .text-lg-baseh {
        color: rgba($color: $color_base, $alpha: .5);
    }
    .text-lg-link {
        color: var(--color-link);
    }
    .text-lg-danger {
        color: var(--color-danger);
    }
    .text-lg-light {
        color: var(--color-light);
    }
}

/* background-color */
/* ============================================ */
.bg-primary {
    background-color: var(--color-primary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-third {
    background-color: var(--color-third);
}
.bg-fourth {
    background-color: var(--color-fourth);
}
.bg-base {
    background-color: var(--color-base);
}
.bg-baseq {
    background-color: rgba($color: $color_base, $alpha: .05);
}
.bg-baseh {
    background-color: rgba($color: $color_base, $alpha: .5);
}
.bg-basehq {
    background-color: rgba($color: $color_base, $alpha: .75);
}
.bg-link {
    background-color: var(--color-link);
}
.bg-dangerq {
    background-color: #FBF2F3;
}
.bg-dangerh {
    background-color: rgba($color: $color_danger, $alpha: .5);
}
.bg-dangerhq {
    background-color: rgba($color: $color_danger, $alpha: .75);
}
.bg-danger {
    background-color: var(--color-danger);
}
.bg-lightq {
    background-color: rgba($color: $color_light, $alpha: .25);
}
.bg-lighth {
    background-color: rgba($color: $color_light, $alpha: .25);
}
.bg-light {
    background-color: var(--color-light);
}
.bg-lighthq {
    background-color: rgba($color: $color_light, $alpha: .7);
}
.bg-lighthqq {
    background-color: rgba($color: $color_light, $alpha: .9);
}
.bg-transparent {
    background-color: transparent;
}

.bg-green {
    background-color: $color_green;
}

@include lg {
    .bg-lg-primary {
        background-color: var(--color-primary);
    }
    .bg-lg-secondary {
        background-color: var(--color-secondary);
    }
    .bg-lg-third {
        background-color: var(--color-third);
    }
    .bg-lg-fourth {
        background-color: var(--color-fourth);
    }
    .bg-lg-base {
        background-color: var(--color-base);
    }
    .bg-lg-base-05 {
        background-color: rgba($color: $color_base, $alpha: .05);
    }
    .bg-lg-link {
        background-color: var(--color-link);
    }
    .bg-lg-danger {
        background-color: var(--color-danger);
    }
    .bg-lg-light {
        background-color: var(--color-light);
    }
    .bg-lg-transparent {
        background-color: transparent;
    }
}